@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

body {
	font-size: 16px;
	font-family: roboto, sans-serif;
	margin: 0;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#header {
	width:100%;
	height: 15vh;
	background-color: #f8f8f8;
	color: navy;
	font-size: 36px;
	margin: 0px; 
}

#logo {
	width: 200px;
}

.formulario {
	margin: 20px;
}

#form {
	width: 40%;
}

#form table {
	width: 100%;
}

#form table input {
	border: 1px solid #CCC;
	box-shadow: nome;
	width: 100%;
	margin-bottom: 15px;
}

#form button {
	background: nome;
	border: 2px solid navy;
	color: navy;
	border-radius: 50px;
	width: 250px; 
}

#table {
	width: 80%;
	border: none;
}

#table th {
	color: #FFF;
	background: navy;
	text-shadow: none;
	height: 30px;
	box-shadow: none;
}

#table th, #table td {
	border-color: #FFF;
}
